{% extends 'base.html' %}

{% block content %}

<section class="row signup-section">
  <div class="col-xs-12">

    <div class="form-box">

       <form class="form-horizontal" method='POST' action="{{url_for('heater.register', room_id=room.id)}}">

         <div class="form-group">
           <label for="name">
             Heater name: 
           </label>
           <input type="text" name="name" value="{{name}}" autocomplete="name" class="form-control">
         </div>
        
         <div class="form-group">
           <label for="mac">
             Heater mac address: 
           </label>
	   <select name="mac">
             {% for heater in heaters %}
	     	{% if heater['status'] == 'unassigned' %}
		<option value="{{heater['mac']}}">{{heater['mac']}}</option>
		{% endif %}
	     {% endfor %}
	   </select>

         </div>
           
         <div class="form-group">
           <label for="name">
             Add to room: 
           </label>
           <select name="room_id">
               {% if room %}
               <option value={{room.id}}>{{room.name}}</option>
               {% else %}
               <option value=0>Select a room</option>
               {% endif %}
               {% for r in rooms %}
               {% if r.id != room.id %}
               <option value={{r.id}}>{{r.name}}</option>
               {% endif %}
               {% endfor %}
           </select>
         </div>




         <div class="form-group">
           <input type="submit" value="Register" class="submit">
         </div>

       </form>

       {% for heater in heaters %}
       <div class="col-xs-12 col-md-6">
	  <p>{{heater['mac']}}</p>
	  {% if 'name' in heater %}
	  <p>{{heater['name']}}</p>
	  <p>{{heater['room']}}</p>
	  {% endif %}
	  <p>{{heater['target_temp']}}</p>
	  <p>{{heater['mode']}}</p>
       </div>
       {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
