<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
				home control
			{% endblock %}
		</title>
	</head>

	<body>
		</div class="container-fluid">
		
		{% block content %}
		{% endblock %}
		</div>
        
        <script>
          $base_url = "{{ url_for('index') }}"
        </script>
		<script src={{url_for('static', filename='js/jquery-3.4.1.min.js')}}></script>
	
		<script src={{url_for('static', filename='js/script.js')}}></script>
	</body>
</html>
